---
import { Image } from 'astro:assets';

import Button from '../button.astro';

const {
  title,
  images,
  price,
  duration,
  languages,
  times,
  private_tour,
  price_children,
  start_address,
  start_maps_link,
} = Astro.props;

const importImage = async (name) => (await import(`../../../admin/images/${name}.jpg`)).default;

const imageNames = images || [];
const imageSrcs = await Promise.all(imageNames.map(importImage));
---
<div class="booking-option">
  <h2 class="title">
    <span class="text">{title}</span>
  </h2>
  <div class="gallery">
    <div class="gallery-images">
    {
      imageSrcs.map((src, index) => (
        <Image
          class="image"
          src={src}
          alt={title}
          aria-hidden="true"
          height="500"
          style={`--list-item-index: ${index};`}
        />
      ))
    }
    </div>
  </div>
  <div class="content">
    <slot />
    <table class="info">
      <tr>
        <th scope="row">Price</th>
        <td>
        {price
        }{price_children && `, children: ${price_children}`
        }
        </td>
      </tr>
      {
        times && (
          <tr>
            <th scope="row">Times</th>
            <td>{times}</td>
          </tr>
        )
      }
      {
        private_tour && (
          <tr>
            <th scope="row">Private tour</th>
            <td>{private_tour}</td>
          </tr>
        )
      }
      {
        duration && (
          <tr>
            <th scope="row">Duration</th>
            <td>{duration}</td>
          </tr>
        )
      }
      {
        languages && (
          <tr>
            <th scope="row">Languages</th>
            <td>{languages}</td>
          </tr>
        )
      }
      {
        start_address && (
        <tr>
          <th scope="row">Address</th>
          <td>{start_address}
            ({
              start_maps_link && <a href={start_maps_link} rel="noopener" target="_blank">see map</a>
            })
          </td>
        </tr>
        )
      }
    </table>
    <p class="faq-link">
      Got further questions? Check our <a href={`${import.meta.env.BASE_URL}/booking/faq`}>booking FAQ page</a>.
    </p>
  </div>
  <div class="action">
    <Button
      as="a"
      href={`${import.meta.env.BASE_URL}/booking/tour`}
      class="book"
      variant="clementine"
      size="l"
    >
      Book
    </Button>
  </div>
</div>

<style lang="scss">
@import '../../styles/breakpoints';

.booking-option {
  background: var(--color-white);
  max-width: 100vw;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0.5rem 0 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;

  @include b-desktop {
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    background: var(--accent-color);
    height: 4px;
    border-radius: 2px;
  }

  &::before {
    width: 2rem;

    @include b-desktop {
      width: 4rem;
    }
  }

  &::after {
    flex-grow: 1;
  }
}

.gallery {
  overflow-x: scroll;
  width: calc(100% + 2rem);
  margin: 0.5rem -1rem 0.5rem;
  scroll-snap-type: x mandatory;

  @include b-desktop {
    margin: 1rem 0 0.5rem;
  }
}

.gallery-images {
  display: flex;
  position: relative;
  width: max-content;
  gap: 1rem;
  height: 30vh;

  @include b-desktop {
    height: 50vh;
    padding-right: 10rem;
  }
}

.image {
  animation: fade-in 300ms both;
  animation-delay: calc(var(--list-item-index) * 100ms);
  scroll-snap-align: start;
  display: block;
  height: 100%;
  width: auto;
}

.content {
  animation: fade-in 300ms 100ms both;
  background-color: inherit;
  padding: 1rem 0 0;
  flex-grow: 1;
  font-size: 1.125rem;
  position: relative;
  z-index: 1;
  max-width: 900px;

  @include b-desktop {
    font-size: 1.5rem;
    padding: 1.5rem 0 0;
  }
}

.faq-link {
  font-size: 1.125rem;
}

.info {
  border-top: dashed 2px var(--accent-color);
  border-bottom: dashed 2px var(--accent-color);
  padding: 1rem 0;
  margin-bottom: 1rem;

  th {
    text-align: left;
    padding-right: 1rem;

    &::after {
      content: ':'
    }
  }
}

.action {
  margin-top: 1rem;
}
</style>
