---
import Layout from '../layouts/default.astro';
import Header from '../components/header.astro';
import Button from '../components/button.astro';
import BookingOption from '../components/booking-option.astro';

import { frontmatter as config } from '../../admin/pages/booking/booking.mdx';

const tours = await Astro.glob('../../admin/pages/booking/tours/*.mdx');
const rental = await Astro.glob('../../admin/pages/booking/rental/*.mdx');
---
<Layout pageTitle="Bookings">
	<Header cafe border />
	<div class="booking">
    <aside class="booking-intro">
      <h2>I'd like to</h2>
      <nav class="booking-types">
        <Button
          class="booking-options-toggle"
          size="l"
          variant="outline"
          aria-controls="tours"
          aria-haspopup="true"
          aria-expanded="true"
        >
          Book a tour
        </Button>
        <Button
          class="booking-options-toggle"
          size="l"
          variant="outline"
          aria-controls="bike-rental"
          aria-haspopup="true"
        >
          Rent a bike
        </Button>
      </nav>
    </aside>
    <main class="booking-main">
      <div id="tours" class="booking-options booking-options-selected">
        <p class="booking-type-description">
          {config['tours_description']}
        </p>
        <ul class="booking-options-list">
        {
          tours.map(({ frontmatter: { title, image, price }, Content }, index) => (
            <li class="booking-option" style={`--list-item-index: ${index};`}>
              <BookingOption title={title} image={image} price={price}>
                <Content />
              </BookingOption>
            </li>
          ))
        }
        </ul>
      </div>
      <div id="bike-rental" class="booking-options">
        <p class="booking-type-description">
          {config['rental_description']}
        </p>
        <ul class="booking-options-list">
        {
          rental.map(({ frontmatter: { title, image, price }, Content }, index) => (
            <li class="booking-option" style={`--list-item-index: ${index};`}>
              <BookingOption title={title} image={image} price={price}>
                <Content />
              </BookingOption>
            </li>
          ))
        }
        </ul>
      </div>
    </main>
	</div>
</Layout>

<script>
const SELECTED_CLASS = 'booking-options-selected';

const buttons = Array.from(document.getElementsByClassName('booking-options-toggle'));
const selectedOptions = document.getElementsByClassName(SELECTED_CLASS);

for (const button of buttons) {
  const options = document.getElementById(button.getAttribute('aria-controls'));

  button.addEventListener('click', () => {
    Array.from(selectedOptions).forEach((opt) => opt.classList.remove(SELECTED_CLASS));
    buttons.forEach((btn) => btn.setAttribute('aria-expanded', 'false'));

    options.classList.add(SELECTED_CLASS);
    button.setAttribute('aria-expanded', 'true');
  });
}
</script>

<style lang="scss">
@import '../styles/breakpoints';

.booking {
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;

  @include b-tablet {
    display: grid;
    grid: 1fr / 224px minmax(300px, 900px);
    gap: 2rem;
  }

  @include b-desktop {
    grid: 1fr / 300px minmax(300px, 900px);
    gap: 6rem;
  }
}

.booking-intro {
  background: var(--color-marble);
  padding: 2rem 1rem 2rem;
  position: relative;

  @include b-desktop {
    padding: 3rem 1rem 2rem 3rem;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: inherit;
      top: -1rem;
      bottom: -1rem;
      clip-path: url(#wave6);
      width: 3rem;
      height: calc(100% + 1rem);
      left: auto;
      right: calc(-3rem + 1px);
    }
  }
}

.booking-types {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;

  @include b-desktop {
    gap: 1rem;
  }
}

.booking-options-toggle {
  &[aria-expanded="true"] {
    background-color: var(--color-henna);
    color: var(--color-marble);
  }
}

.booking-main {
  width: 100%;
  padding-bottom: 2rem;

  @include b-desktop {
    padding-top: 1.5rem;
  }
}

.booking-options {
  display: none;
  width: 100%;
  scroll-margin-top: 1rem;

  @include b-desktop {
    scroll-margin-top: 2rem;
  }
}

.booking-options-selected {
  animation: fade-in 300ms forwards;
  display: block;
}

.booking-type-description {
  font-size: 1.25rem;
  margin: 1.5rem 0 0;
  max-width: 1000px;
  width: 100%;
  padding: 0 1rem 1rem;

  @include b-tablet {
    padding: 2rem;
  }

  @include b-desktop {
    font-size: 1.5rem;
    margin: 0;
  }
}

.booking-options-list {
  list-style-type: none;
  display: block;
  margin: 1rem 0;
  padding: 0;
}

.booking-option {
  animation: fade-in 300ms both;
  animation-delay: calc(100ms * var(--list-item-index));
}
</style>
