---
import Layout from "../layouts/default.astro";
import Header from "../components/header.astro";
import Section from "../components/section.astro";
import Intro from "../components/cafe/intro.astro";

const sections = Object.values(
  import.meta.glob("../../admin/pages/cafe/sections/*.mdx", { eager: true }),
);
---

<Layout pageTitle="Café">
  <Header booking />
  <main>
    <Intro />
    {
      sections.map(
        ({ frontmatter: { id, title, image, color, side }, Content }) => (
          <Section
            id={id}
            title={title}
            image={image}
            color={color}
            side={side}
          >
            <Content />
          </Section>
        ),
      )
    }
  </main>
</Layout>
