---
import Layout from '../layouts/default.astro';
import Section from '../components/section.astro';
import Intro from '../components/home/intro.astro';
import StatsSection from '../components/home/stats-section.astro';
import VideoSection from '../components/home/video-section.astro';

const sections = await Astro.glob('../../admin/pages/home/sections/*.mdx');
const stats = await Astro.glob('../../admin/pages/home/stats/*.mdx');

const getStat = (section) => stats.find(({ frontmatter }) => frontmatter['section'] === section)?.frontmatter;
---
<Layout>
	<Intro />
	<main class="home">
		<StatsSection />
		<VideoSection />
		{
			sections.map(({ frontmatter: { id, title, image, color, side }, Content }) => (
				<Section id={id} title={title} image={image} color={color} side={side} stat={getStat(id)}>
					<Content />
				</Section>
			))
		}
	</main>
</Layout>
