---
import Layout from '../layouts/default.astro';
import Section from '../components/section.astro';
import Intro from '../components/intro.astro';
import StatsSection from '../components/stats-section.astro';
import VideoSection from '../components/video-section.astro';

const sections = await Astro.glob('../admin/pages/home/sections/*.mdx');
---
<Layout>
	<Intro />
	<main>
		<StatsSection />
		<VideoSection />
		{
			sections.map(({ frontmatter: { id, title, image, color, side }, Content }) => (
				<Section id={id} title={title} image={image} color={color} side={side}>
					<Content />
				</Section>
			))
		}
	</main>
</Layout>
