---
import { Image } from 'astro:assets';

import Button from '../components/button.astro';
import Chevron from './chevron.astro';

const { title, image, price, images, open = false } = Astro.props;

const importImage = async (name) => (await import(`../../admin/images/${name}.jpg`)).default;

const imageNames = images || [];
const imageSrcs = await Promise.all(imageNames.map(importImage));
---
<details class="booking-option" open={open}>
  <summary class="summary">
    <h3 class="title">
      <Chevron />
      {title}
    </h3>
  </summary>
  <div class="gallery">
    <div class="gallery-images">
    {
      imageSrcs.map((src) => (
        <Image
          class="image"
          src={src}
          alt={title}
          aria-hidden="true"
          height="500"
        />
      ))
    }
    </div>
  </div>
  <div class="content">
    <slot />
  </div>
  <div class="action">
    <p class="price">
      <span class="price-value">{price}</span>
    </p>
    <Button
      as="a"
      class="book"
      variant="clementine"
    >
      Book
    </Button>
  </div>
</details>

<style lang="scss">
@import '../styles/breakpoints';

.booking-option {
  background: var(--color-white);
  overflow: hidden;
  max-width: 100vw;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.summary::marker {
  display: none;
  content: '';
}

.title, .content {
  max-width: 900px;
}

.title {
  padding: 1rem;
  border-top: solid 4px var(--color-azure-true);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  @include b-tablet {
    padding: 1rem 0;
    margin: 0 2rem;
  }

  :global(.chevron) {
    color: var(--color-clementine);
    transform: rotate(-180deg);
    transition: transform 300ms;
    width: 1rem;
    margin: 0 0.25rem 0 0rem;

    .booking-option[open] & {
      transform: rotate(0deg);
    }
  }
}

.gallery {
  overflow-x: scroll;
  width: 100%;
  margin-top: 0.5rem;

  @include b-desktop {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

.gallery-images {
  display: flex;
  position: relative;
  width: max-content;
  gap: 1rem;
  height: 30vh;

  @include b-desktop {
    height: 50vh;
    padding-right: calc(100vw - 1200px);
  }
}

.image {
  animation: fade-in 300ms both;
  display: block;
  height: 100%;
  width: auto;
}

.content {
  animation: fade-in 300ms 100ms both;
  background-color: inherit;
  padding: 1rem 1rem 0;
  flex-grow: 1;
  position: relative;
  z-index: 1;

  @include b-desktop {
    font-size: 1.5rem;
    padding: 1.5rem 2rem 0;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -1rem;
    right: -8rem;
    background: inherit;
    clip-path: url(#wave1);
    height: 1rem;
    top: calc(-1rem + 1px);
  }
}

.action {
  border: solid 2px var(--color-azure);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 0 1rem 1rem;
  color: var(--color-azure);

  @include b-desktop {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    margin: 0 2rem 2rem;
  }
}

.price {
  margin: 0;

  @include b-desktop {
    font-size: 1.25rem;
  }
}

.price-value {
  font-weight: bold;
}
</style>
