---
import { Image } from 'astro:assets';

import Button from './button.astro';

const { id, title, image, color, book_button } = Astro.props;

const { default: imageSrc } = await import(`../../admin/images/${image}.jpg`);

const darkBackground = color === 'azure' || color === 'indigo';
---
<section class={`dynamic-section color--${color}`} id={id}>
  <div class="section-image-wrapper" data-section={id}>
    <Image class="image" loading="lazy" src={imageSrc} alt={`Illustration for ${title}`} width="1000" />
  </div>
  <div class="content">
    {
      title && <h3 class="title">{title}</h3>
    }
    <slot />
    <Button
      variant={darkBackground ? 'outline-white' : 'outline'}
      class="section-learn-more"
      data-section={id}
    >
    Read more
    </Button>
    {
      book_button && (
      <Button
        as="a"
        class="section-book-button"
        variant={darkBackground ? 'white' : 'henna'}
        size="m"
        href={`${import.meta.env.BASE_URL}/booking`}
      >
        Book now
      </Button>
      )
    }
  </div>
</section>

<script>
const learnMoreButtons = document.getElementsByClassName('section-learn-more');

for (const button of learnMoreButtons) {
  const { section: sectionID } = (button as HTMLElement).dataset;
  const section = document.getElementById(sectionID);

  button.addEventListener('click', () => {
    section.classList.add('expanded');
    section.scrollIntoView({ block: 'nearest' });
  });
}

const imageWrappers = document.getElementsByClassName('section-image-wrapper');

for (const wrapper of imageWrappers) {
  const { section: sectionID } = (wrapper as HTMLElement).dataset;
  const section = document.getElementById(sectionID);

  wrapper.addEventListener('click', () => {
    section.classList.remove('expanded');
  });
}
</script>

<style lang="scss">
@import '../styles/breakpoints';

.dynamic-section {
  --expand-transition-time: 300ms;
  --expand-size: 90vw;

  display: grid;

  @include b-desktop {
    transition: grid-template-columns var(--expand-transition-time);
    grid-template-columns: minmax(600px, auto) 60%;
    overflow: hidden;

    &:nth-child(2n) {
      grid-template-columns: auto minmax(600px, 50vw);
    }

    &.expanded {
      grid-template-columns: var(--expand-size) 1fr;

      &:nth-child(2n) {
        grid-template-columns: 1fr var(--expand-size);
      }
    }
  }

  @include b-large-desktop {
    --expand-size: 80vw;
  }
}

.color--azure {
  background-color: var(--color-azure);
  color: var(--color-white);
}

.color--white {
  background-color: var(--color-white);
  color: var(--color-henna);
}

.color--henna {
  background-color: var(--color-henna);
  color: var(--color-white);
}

.color--marble {
  background-color: var(--color-marble);
  color: var(--color-henna);
}

.color--indigo {
  background-color: var(--color-indigo);
  color: var(--color-white);
}

.color--henna,
.color--azure,
.color--indigo {
  :global(a) {
    --link-color: var(--color-marble);
    --link-color-hover: var(--color-white);
  }
}

.content {
  background-color: inherit;
  padding: 1rem;
  order: 1;
  position: relative;
  z-index: 1;

  @include b-desktop {
    padding: 6rem 3rem;
    font-size: 24px;
    min-height: 50vh;
  }

  @include b-large-desktop {
    padding: 6rem 3rem;
    font-size: 28px;
    min-height: 50vh;

    .title {
      font-size: 48px;
      margin-bottom: 2rem;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -1rem;
    right: -8rem;
    background: inherit;
    clip-path: url(#wave1);
    height: 2rem;
    top: calc(-2rem + 1px);

    .dynamic-section:nth-child(2n) & {
      clip-path: url(#wave2);
    }
  }

  @include b-desktop {
    &::before {
      top: -1rem;
      bottom: -1rem;
      clip-path: url(#wave6);
      width: 3rem;
      height: calc(100% + 1rem);
      left: auto;
      right: calc(-3rem + 1px);

      .dynamic-section:nth-child(2n) & {
        left: calc(-3rem + 1px);
        right: auto;
        clip-path: url(#wave7);
      }
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -1rem;
    right: -8rem;
    background: inherit;
    clip-path: url(#wave5);
    height: 2rem;
    bottom: calc(-2rem + 1px);
  }

  @include b-desktop {
    &::after {
      content: none;
    }
  }

  :global(iframe) {
    margin: 1rem 0 2rem;
    width: 100%;
    min-height: 20rem;
  }

  .section-learn-more {
    display: none;
  }

  :global(*) {
    break-inside: avoid;
  }

  :global(h3), :global(h4), :global(h5), :global(h6) {
    break-after: avoid;
  }

  :global(hr), :global(hr) ~ :global(*) {
    display: none;
  }

  :global(hr) ~ .section-learn-more,
  :global(hr) ~ .section-book-button {
    display: inline-block;
  }

  .expanded & {
    @include b-desktop {
      columns: 2;
      gap: 6rem;

      > :global(*) {
        animation: fade-in var(--expand-transition-time) var(--expand-transition-time) both;
      }
    }

    :global(hr) ~ :global(*) {
      display: revert;
    }

    :global(hr) ~ .section-learn-more,
    :global(hr) ~ .section-book-button {
      display: none;
    }
  }
}

.section-image-wrapper {
  max-height: 50vh;
  overflow: hidden;
  transition: filter 300ms;

  @include b-desktop {
    max-height: 100%;
  }

  .dynamic-section.expanded & {
    cursor: pointer;
    filter: brightness(0.6);

    &:hover {
      filter: brightness(1);
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@include b-desktop {
  .section-image-wrapper {
    order: 2;

    .dynamic-section:nth-child(2n) & {
      order: 0;
    }
  }
}
</style>
