---
import { getImage } from "astro:assets";

import '../styles/variables.scss';
import '../styles/animations.scss';
import '../styles/styles.scss';

import Footer from '../components/footer.astro';
import Waves from '../components/waves.astro';
import CookieNotice from '../components/cookie-notice.astro';

import { frontmatter as config } from '../../admin/site.mdx';

const titleParts = [config.title];

const { pageTitle, footer, gtags = [] } = Astro.props;
if (pageTitle) {
	titleParts.unshift(pageTitle);
}

const fullTitle = titleParts.join(' - ');

const { default: src } = await import(`../../admin/images/${config['social_media_image']}.jpg`);
const socialMediaImage = await getImage({
	src,
	format: 'jpg'
});
---

<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{fullTitle}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
		<link rel="manifest" href="/site.webmanifest?v=2">
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#eb620e">
		<link rel="shortcut icon" href="/favicon.ico?v=2">
		<meta name="apple-mobile-web-app-title" content="Pikala Bikes">
		<meta name="application-name" content="Pikala Bikes">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta name=”robots” content="index, follow">
		<meta name="author" content="https://fiala.space" />
		<meta property="description" content={config.description} />
		<meta property="og:title" content={fullTitle} />
		<meta property="og:description" content={config.description} />
		<meta property="og:image" content={socialMediaImage.src} />
	</head>
	<body>
		<div id="page" class="page">
			<CookieNotice />
			<slot/>
			{ footer && <Footer /> }
		</div>
		<Waves />
		<template id="cookie-consent-only">
			<!-- adding google tags as meta tags allows us to dynamically set them per page -->
			<meta name="gtag" content="G-76GYN23Q0W">
			{
				gtags.map((gtag) => (
					<meta name="gtag" content={gtag} />
				))
			}
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-76GYN23Q0W"></script>
			<script lang="js">
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				const metas = Array.from(document.querySelectorAll('meta[name="gtag"]'));
				metas.forEach((meta) => {
					gtag('config', meta.content);
				});
			</script>
		</template>
	</body>
</html>

<style lang="scss">
.page {
	width: 100vw;
	overflow: hidden;
}
</style>
